/pato/nbproject/private/
/Asignacion/nbproject/private/
/Asignacion/build/
/Asignacion1/nbproject/private/
/Examen1Pzacarias/nbproject/private/
/examen1zacarias/nbproject/private/
/examen1zacarias/build/